/*body, head, foot, font| section | */
body{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
header{
    color: white;
    background: url(../images/back.jpg);
    background-color: rgba(0, 0, 0,0.3);
    background-blend-mode: multiply;
    padding-bottom: 10px;
}
.font1{
    font-family: "Bebas Neue", Sans-serif;
}
.font2{
    font-family: "Roboto", Sans-serif;
}
h3{
    color: #140748;
}
.portfolio p{
    color: #666666;
    font-size: 16px;
    padding: 10px;
}
.top{
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    justify-content: space-between;
}
.cah{
    font-size: 40px;
    padding-left: 15px;
    margin-bottom: 10px;
}
.navbaar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-right: 20px;
}
.navbaar{
    margin-top: 40px;
}
.a{
    padding-left: 200px;
    padding-top: 50px;
    font-size: 60px;
    font-weight: 800;
}
.b{
    padding-left: 200px;
    padding-top: 10px;
    font-size: 25px;
    padding-bottom: 40px;
}
.line{
    border-top: 1px solid gray;
    width: 600px;
    margin-left: 200px;
    padding-top: 40px;
}
.logo img{
    width: 50px;
    padding: 10px;
    border-radius: 20px;
}
.logo{
    padding-left: 200px;
    display: flex;
    padding-bottom: 10px;
}
.portfolio{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 140px;
    text-align: center;
    font-size: 22px;
    margin: 8px 0px 5px;
}
.portfolio img{
    width: 80px;
}
.devide{
    border-right: 1px solid gray;
    height: 100%;
    width: 0;
}
.scroll{
    padding-left: 200px;
    padding-right: 200px;
}
.scroll-img{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    
}
.scroll-img img{
    width: 181px;
}
